<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samsistemas.timesheet.data">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

        <provider android:authorities="com.samsistemas.timesheet.provider"
            android:name="com.samsistemas.timesheet.provider.DataProvider"
            android:enabled="true"
            android:exported="true"/>
    </application>
</manifest>
